/*Fonts*/

@font-face {
    font-family: "BeTrueToYourSchool-Regular";
    src: url("fonts/BeTrueToYourSchool-Regular.ttf");
}
@font-face {
    font-family: "AldotheApache";
    src: url("fonts/AldotheApache.ttf");
}
@font-face {
    font-family: "DollieScript";
    src: url("fonts/DollieScript_PersonalUse.ttf");
}
@font-face {
    font-family: "HarryPotter";
    src: url("fonts/HARRYP__.TTF");
}
@font-face {
    font-family: "master_of_break";
    src: url("fonts/master_of_break.ttf");
}
@font-face {
    font-family: "waltograph42";
    src: url("fonts/waltograph42.otf");
}
@font-face {
    font-family: "Olivia_Script";
    src: url("fonts/Olivia_Script.otf");
}
@font-face {font-family:"STARWARS";src:url("fonts/STARWARS.eot?") format("eot"),url("fonts/STARWARS.woff") format("woff"),url("fonts/STARWARS.ttf") format("truetype"),url("fonts/STARWARS.svg#STARWARS") format("svg");font-weight:normal;font-style:normal;}
